In [3]:
import pandas as pd

In [90]:
def prepare_df(df):    
    m_codes = df.loc[0].values.tolist()[1:]
    spec_mkts = df.loc[1].tolist()[1:]
    
    cols = [(str(m_code) + '_' + spec_mkt) for m_code,spec_mkt in zip(m_codes,spec_mkts)]
    cols.insert(0,'Tests')
    
    df = df.iloc[3:]
    df.columns = cols

    return df

def format_df(df):
    
    df = df.set_index('Tests').stack().reset_index().rename(columns = {'level_1':'MaterialNumber',0:'Copy_Testing_Flag'})
    
    return df

def create_cols(df):
    
    df.reset_index(drop=True,inplace=True)

    df['product_code'] = [item[0] for item in df['MaterialNumber'].str.split('_')]
    df['l_product'] = [item[1] for item in df['MaterialNumber'].str.split('_')]
    df['market'] = [item[2] for item in df['MaterialNumber'].str.split('_')]
    
    return df

def merge_file(path):

    sheetnames = pd.ExcelFile(path).sheet_names
    
    prod_df = pd.DataFrame()
    
    for sheet in sheetnames:
        print(sheet)
        df = pd.read_excel(path,sheet_name=sheet).iloc[:,1:]

        df = prepare_df(df)

        df = format_df(df)
        
        prod_df = pd.concat([df,prod_df])
        
    prod_df = create_cols(prod_df)
        
    return prod_df

In [60]:
path = 'C:/Users/skesh/Desktop/DRL/Task_Interface_Files/Static files/new files/'

Omeprazole = path + 'Omeprazole-Data transfer_new.xlsx'
Atoravastatine = path + 'Atoravastatine-Data transfer_new.xlsx'
Metoprolol = path + 'Metoprolol-Data transfer_new.xlsx'

In [92]:
molecules = [Omeprazole,Atoravastatine,Metoprolol]

df = pd.DataFrame()

for molecule in molecules:
    
    data = merge_file(molecule)
    
    df = pd.concat([df,data])

df

Ome-200005540-10mg
Ome-200007326-40mg
Ome-200005541-20mg
Atorva 80mg
Atorva 10mg
Atorva 20mg
Atorva 40 mg
Meto-200013441-200mg
Meto-200013472-100mg
Meto-200013469-50mg
Meto-200013466-25mg

,Tests,MaterialNumber,Copy_Testing_Flag,product_code,l_product,market
0,DES,200005541_SP-CFTO-006324_UNITED STATES,1,200005541,SP-CFTO-006324,UNITED STATES
1,DES,200000773_SP-CFTO-006608_South Africa,1,200000773,SP-CFTO-006608,South Africa
2,DES,200000844_SP-CFTO-006314_UNITED KINGDOM,2,200000844,SP-CFTO-006314,UNITED KINGDOM
3,DES,200000844_SP-CFTO-016531_NEWZEALAND,2,200000844,SP-CFTO-016531,NEWZEALAND
4,DES,200000844_SP-CFTO-006422_GERMANY,2,200000844,SP-CFTO-006422,GERMANY
...,...,...,...,...,...,...
143,RSL2,200013441_SP-CFTO-004925_BRAZIL,1,200013441,SP-CFTO-004925,BRAZIL
144,RSL,200013441_SP-CFTO-004756_USA,1,200013441,SP-CFTO-004756,USA
145,RSL,200013441_SP-CFTO-004925_BRAZIL,1,200013441,SP-CFTO-004925,BRAZIL
146,UOD_TPW,200013441_SP-CFTO-004756_USA,1,200013441,SP-CFTO-004756,USA
147,Micro,200013441_SP-CFTO-004925_BRAZIL,1,200013441,SP-CFTO-004925,BRAZIL

In [37]:
path = "C:/Users/skesh/Desktop/DRL/Task_Interface_Files/Static files/new files/Omeprazole-Data transfer_new.xlsx"

In [38]:
df = pd.read_excel(path,sheet_name="Ome-200007326-40mg").iloc[:,1:]
df

,MOA→,MET-CFTO-003189,MET-CFTO-003285,MET-CFTO-010953,MET-CFTO-010435,MET-CFTO-003835,MET-CFTO-003338,MET-CFTO-003294,MET-CFTO-003218
0,Material Code,200007326,200000845,200013393,200013393,200013393,200013393,200013393,200013393
1,Spec →,SP-CFTO-006327_UNITED STATES,SP-CFTO-006425_GERMANY,SP-CFTO-020909_BELARUS,SP-CFTO-019735_RUSSIA,SP-CFTO-006740_BELARUS,SP-CFTO-006473_KHAZAKSTAN,SP-CFTO-006433_UKRAINE,SP-CFTO-006353_RUSSIA
2,Tests ↓,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DES,1,2,3,4,3,3,3,4
4,ID by HPLC,1,2,1,3,1,1,1,3
5,ID by UV,NaN,1,1,NaN,2,NaN,NaN,NaN
6,LOD,1,1,1,NaN,1,1,1,NaN
7,UOD,1,1,1,1,1,1,1,1
8,DSA,1,1,1,1,1,1,1,1
9,DSB,1,1,1,1,1,1,1,1
10,AS,NaN,1,1,1,1,1,1,1
11,RS,1,2,3,3,3,3,3,3
12,RSL,1,1,2,2,2,2,2,2
13,RSL2 (ALT MET),1,1,NaN,NaN,NaN,NaN,NaN,NaN
14,MICRO,NaN,1,1,1,2,1,1,1
15,AVG WEIGHT,NaN,1,1,1,1,1,1,1
16,AVG WT_NET CON,NaN,NaN,1,1,1,1,1,1
17,UOM,NaN,NaN,1,NaN,NaN,1,1,NaN
18,TPW,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ELEMENTAL IMP,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df.loc[0].values.tolist()[1:]

[200007326,
 200000845,
 200013393,
 200013393,
 200013393,
 200013393,
 200013393,
 200013393]

In [40]:
df.loc[1].values.tolist()[1:]

['SP-CFTO-006327_UNITED STATES',
 'SP-CFTO-006425_GERMANY',
 'SP-CFTO-020909_BELARUS',
 'SP-CFTO-019735_RUSSIA',
 'SP-CFTO-006740_BELARUS',
 'SP-CFTO-006473_KHAZAKSTAN',
 'SP-CFTO-006433_UKRAINE',
 'SP-CFTO-006353_RUSSIA']

In [41]:
m_codes = df.loc[0].values.tolist()[1:]
spec_mkts = df.loc[1].values.tolist()[1:]

In [42]:
#l2 = []
for i,j in zip(m_codes,spec_mkts):
    print(str(i)+'_'+j)
#    l2.append(str(i)+'_'+j)
#    print(i,'_',j)

200007326_SP-CFTO-006327_UNITED STATES
200000845_SP-CFTO-006425_GERMANY
200013393_SP-CFTO-020909_BELARUS
200013393_SP-CFTO-019735_RUSSIA
200013393_SP-CFTO-006740_BELARUS
200013393_SP-CFTO-006473_KHAZAKSTAN
200013393_SP-CFTO-006433_UKRAINE
200013393_SP-CFTO-006353_RUSSIA

In [43]:
cols = [(str(m_code) + '_' + spec_mkt) for m_code,spec_mkt in zip(m_codes,spec_mkts)]

In [44]:
cols.insert(0,'Tests')
cols

['Tests',
 '200007326_SP-CFTO-006327_UNITED STATES',
 '200000845_SP-CFTO-006425_GERMANY',
 '200013393_SP-CFTO-020909_BELARUS',
 '200013393_SP-CFTO-019735_RUSSIA',
 '200013393_SP-CFTO-006740_BELARUS',
 '200013393_SP-CFTO-006473_KHAZAKSTAN',
 '200013393_SP-CFTO-006433_UKRAINE',
 '200013393_SP-CFTO-006353_RUSSIA']

In [45]:
df = df.iloc[3:,:]
df

,MOA→,MET-CFTO-003189,MET-CFTO-003285,MET-CFTO-010953,MET-CFTO-010435,MET-CFTO-003835,MET-CFTO-003338,MET-CFTO-003294,MET-CFTO-003218
3,DES,1,2,3,4,3,3,3,4
4,ID by HPLC,1,2,1,3,1,1,1,3
5,ID by UV,NaN,1,1,NaN,2,NaN,NaN,NaN
6,LOD,1,1,1,NaN,1,1,1,NaN
7,UOD,1,1,1,1,1,1,1,1
8,DSA,1,1,1,1,1,1,1,1
9,DSB,1,1,1,1,1,1,1,1
10,AS,NaN,1,1,1,1,1,1,1
11,RS,1,2,3,3,3,3,3,3
12,RSL,1,1,2,2,2,2,2,2
13,RSL2 (ALT MET),1,1,NaN,NaN,NaN,NaN,NaN,NaN
14,MICRO,NaN,1,1,1,2,1,1,1
15,AVG WEIGHT,NaN,1,1,1,1,1,1,1
16,AVG WT_NET CON,NaN,NaN,1,1,1,1,1,1
17,UOM,NaN,NaN,1,NaN,NaN,1,1,NaN
18,TPW,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ELEMENTAL IMP,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
df.columns = cols
df

,Tests,200007326_SP-CFTO-006327_UNITED STATES,200000845_SP-CFTO-006425_GERMANY,200013393_SP-CFTO-020909_BELARUS,200013393_SP-CFTO-019735_RUSSIA,200013393_SP-CFTO-006740_BELARUS,200013393_SP-CFTO-006473_KHAZAKSTAN,200013393_SP-CFTO-006433_UKRAINE,200013393_SP-CFTO-006353_RUSSIA
3,DES,1,2,3,4,3,3,3,4
4,ID by HPLC,1,2,1,3,1,1,1,3
5,ID by UV,NaN,1,1,NaN,2,NaN,NaN,NaN
6,LOD,1,1,1,NaN,1,1,1,NaN
7,UOD,1,1,1,1,1,1,1,1
8,DSA,1,1,1,1,1,1,1,1
9,DSB,1,1,1,1,1,1,1,1
10,AS,NaN,1,1,1,1,1,1,1
11,RS,1,2,3,3,3,3,3,3
12,RSL,1,1,2,2,2,2,2,2
13,RSL2 (ALT MET),1,1,NaN,NaN,NaN,NaN,NaN,NaN
14,MICRO,NaN,1,1,1,2,1,1,1
15,AVG WEIGHT,NaN,1,1,1,1,1,1,1
16,AVG WT_NET CON,NaN,NaN,1,1,1,1,1,1
17,UOM,NaN,NaN,1,NaN,NaN,1,1,NaN
18,TPW,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ELEMENTAL IMP,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df.set_index('Tests').stack()

Tests
DES            200007326_SP-CFTO-006327_UNITED STATES    1
               200000845_SP-CFTO-006425_GERMANY          2
               200013393_SP-CFTO-020909_BELARUS          3
               200013393_SP-CFTO-019735_RUSSIA           4
               200013393_SP-CFTO-006740_BELARUS          3
                                                        ..
UOM            200013393_SP-CFTO-020909_BELARUS          1
               200013393_SP-CFTO-006473_KHAZAKSTAN       1
               200013393_SP-CFTO-006433_UKRAINE          1
TPW            200007326_SP-CFTO-006327_UNITED STATES    1
ELEMENTAL IMP  200007326_SP-CFTO-006327_UNITED STATES    1
Length: 99, dtype: object

In [48]:
df.set_index('Tests').stack().reset_index()

            Tests                                 level_1  0
0             DES  200007326_SP-CFTO-006327_UNITED STATES  1
1             DES        200000845_SP-CFTO-006425_GERMANY  2
2             DES        200013393_SP-CFTO-020909_BELARUS  3
3             DES         200013393_SP-CFTO-019735_RUSSIA  4
4             DES        200013393_SP-CFTO-006740_BELARUS  3
..            ...                                     ... ..
94            UOM        200013393_SP-CFTO-020909_BELARUS  1
95            UOM     200013393_SP-CFTO-006473_KHAZAKSTAN  1
96            UOM        200013393_SP-CFTO-006433_UKRAINE  1
97            TPW  200007326_SP-CFTO-006327_UNITED STATES  1
98  ELEMENTAL IMP  200007326_SP-CFTO-006327_UNITED STATES  1

[99 rows x 3 columns]

In [49]:
df.set_index('Tests').stack().reset_index().rename(columns = {'level_1':'MaterialNumber',0:'Copy_Testing_Flag'})

            Tests                          MaterialNumber Copy_Testing_Flag
0             DES  200007326_SP-CFTO-006327_UNITED STATES                 1
1             DES        200000845_SP-CFTO-006425_GERMANY                 2
2             DES        200013393_SP-CFTO-020909_BELARUS                 3
3             DES         200013393_SP-CFTO-019735_RUSSIA                 4
4             DES        200013393_SP-CFTO-006740_BELARUS                 3
..            ...                                     ...               ...
94            UOM        200013393_SP-CFTO-020909_BELARUS                 1
95            UOM     200013393_SP-CFTO-006473_KHAZAKSTAN                 1
96            UOM        200013393_SP-CFTO-006433_UKRAINE                 1
97            TPW  200007326_SP-CFTO-006327_UNITED STATES                 1
98  ELEMENTAL IMP  200007326_SP-CFTO-006327_UNITED STATES                 1

[99 rows x 3 columns]

In [50]:
df = df.set_index('Tests').stack().reset_index().rename(columns = {'level_1':'MaterialNumber',0:'Copy_Testing_Flag'})

In [55]:
df['product_code'] = [item[0] for item in df['MaterialNumber'].str.split('_')]
df['l_product'] = [item[1] for item in df['MaterialNumber'].str.split('_')]
df['market'] = [item[2] for item in df['MaterialNumber'].str.split('_')]

In [57]:
df.columns

Index(['Tests', 'MaterialNumber', 'Copy_Testing_Flag', 'product_code',
       'l_product', 'market'],
      dtype='object')

In [59]:
df = df[["market",'Tests', 'MaterialNumber', 'Copy_Testing_Flag', 'product_code',
       'l_product']]

df

,market,Tests,MaterialNumber,Copy_Testing_Flag,product_code,l_product
0,UNITED STATES,DES,200007326_SP-CFTO-006327_UNITED STATES,1,200007326,SP-CFTO-006327
1,GERMANY,DES,200000845_SP-CFTO-006425_GERMANY,2,200000845,SP-CFTO-006425
2,BELARUS,DES,200013393_SP-CFTO-020909_BELARUS,3,200013393,SP-CFTO-020909
3,RUSSIA,DES,200013393_SP-CFTO-019735_RUSSIA,4,200013393,SP-CFTO-019735
4,BELARUS,DES,200013393_SP-CFTO-006740_BELARUS,3,200013393,SP-CFTO-006740
...,...,...,...,...,...,...
94,BELARUS,UOM,200013393_SP-CFTO-020909_BELARUS,1,200013393,SP-CFTO-020909
95,KHAZAKSTAN,UOM,200013393_SP-CFTO-006473_KHAZAKSTAN,1,200013393,SP-CFTO-006473
96,UKRAINE,UOM,200013393_SP-CFTO-006433_UKRAINE,1,200013393,SP-CFTO-006433
97,UNITED STATES,TPW,200007326_SP-CFTO-006327_UNITED STATES,1,200007326,SP-CFTO-006327
98,UNITED STATES,ELEMENTAL IMP,200007326_SP-CFTO-006327_UNITED STATES,1,200007326,SP-CFTO-006327

In [4]:
molecules = [Omeprazole,Atoravastatine,Metoprolol]

In [5]:
df = pd.DataFrame()

for molecule in molecules:
    
    data = merge_file(molecule)
    
    df = pd.concat([df,data])

df

Ome-200005540-10mg
Ome-200007326-40mg
Ome-200005541-20mg
Atorva 80mg
Atorva 10mg
Atorva 20mg
Atorva 40 mg
Meto-200013441-200mg
Meto-200013472-100mg
Meto-200013469-50mg
Meto-200013466-25mg

,Tests,MaterialNumber,Copy_Testing_Flag,product_code,l_product,market
0,DES,200005541_SP-CFTO-006324_UNITED STATES,1,200005541,SP-CFTO-006324,UNITED STATES
1,DES,200000773_SP-CFTO-006608_South Africa,1,200000773,SP-CFTO-006608,South Africa
2,DES,200000844_SP-CFTO-006314_UNITED KINGDOM,2,200000844,SP-CFTO-006314,UNITED KINGDOM
3,DES,200000844_SP-CFTO-016531_NEWZEALAND,2,200000844,SP-CFTO-016531,NEWZEALAND
4,DES,200000844_SP-CFTO-006422_GERMANY,2,200000844,SP-CFTO-006422,GERMANY
...,...,...,...,...,...,...
143,RSL2,200013441_SP-CFTO-004925_BRAZIL,1,200013441,SP-CFTO-004925,BRAZIL
144,RSL,200013441_SP-CFTO-004756_USA,1,200013441,SP-CFTO-004756,USA
145,RSL,200013441_SP-CFTO-004925_BRAZIL,1,200013441,SP-CFTO-004925,BRAZIL
146,UOD_TPW,200013441_SP-CFTO-004756_USA,1,200013441,SP-CFTO-004756,USA
147,Micro,200013441_SP-CFTO-004925_BRAZIL,1,200013441,SP-CFTO-004925,BRAZIL

In [6]:
df.columns

Index(['Tests', 'MaterialNumber', 'Copy_Testing_Flag', 'product_code',
       'l_product', 'market'],
      dtype='object')

In [7]:
df = df[['Tests','l_product', 'MaterialNumber', 'Copy_Testing_Flag', 'product_code', 'market']]

In [8]:
df.to_excel("C:/Users/skesh/Desktop/DRL/Task_Interface_Files/Static files/new files/copy_testing_flags.xlsx",index=False)

In [6]:
qc_tt = pd.read_excel('testtype.xlsx')
qc_tt

      Id                  Desc  ttid    TestType            Spec      mkt
0   1964  Omeprazole Capsul...   747          AS  SP-CFTO-012127  UKRAINE
1   1964  Omeprazole Capsul...   746      AS_RUN  SP-CFTO-012127  UKRAINE
2   1964  Omeprazole Capsul...   750    AS_SETUP  SP-CFTO-012127  UKRAINE
3   1964  Omeprazole Capsul...   727         DES  SP-CFTO-012127  UKRAINE
4   1964  Omeprazole Capsul...   729      DS_RUN  SP-CFTO-012127  UKRAINE
5   1964  Omeprazole Capsul...   749    DS_SETUP  SP-CFTO-012127  UKRAINE
6   1964  Omeprazole Capsul...   730         DSA  SP-CFTO-012127  UKRAINE
7   1964  Omeprazole Capsul...   731         DSB  SP-CFTO-012127  UKRAINE
8   1964  Omeprazole Capsul...   735         LOD  SP-CFTO-012127  UKRAINE
9   1964  Omeprazole Capsul...   736          RS  SP-CFTO-012127  UKRAINE
10  1964  Omeprazole Capsul...   740        RSL2  SP-CFTO-012127  UKRAINE
11  1964  Omeprazole Capsul...   755    RSL2_RUN  SP-CFTO-012127  UKRAINE
12  1964  Omeprazole Capsul...   754  RSL2_SETUP  SP-CFTO-012127  UKRAINE

In [10]:
df[(df['market']=='UKRAINE') & (df['l_product']=='SP-CFTO-012127')]

,Tests,MaterialNumber,Copy_Testing_Flag,product_code,l_product,market
161,DES,200013410_SP-CFTO-012127_UKRAINE,3,200013410,SP-CFTO-012127,UKRAINE
168,ID by HPLC,200013410_SP-CFTO-012127_UKRAINE,1,200013410,SP-CFTO-012127,UKRAINE
175,LOD,200013410_SP-CFTO-012127_UKRAINE,1,200013410,SP-CFTO-012127,UKRAINE
182,UOD,200013410_SP-CFTO-012127_UKRAINE,1,200013410,SP-CFTO-012127,UKRAINE
189,DSA,200013410_SP-CFTO-012127_UKRAINE,1,200013410,SP-CFTO-012127,UKRAINE
196,DSB,200013410_SP-CFTO-012127_UKRAINE,1,200013410,SP-CFTO-012127,UKRAINE
203,AS,200013410_SP-CFTO-012127_UKRAINE,1,200013410,SP-CFTO-012127,UKRAINE
210,RS,200013410_SP-CFTO-012127_UKRAINE,2,200013410,SP-CFTO-012127,UKRAINE
217,RSL,200013410_SP-CFTO-012127_UKRAINE,3,200013410,SP-CFTO-012127,UKRAINE
223,AVG WT,200013410_SP-CFTO-012127_UKRAINE,1,200013410,SP-CFTO-012127,UKRAINE
228,AVG WT_NET CON,200013410_SP-CFTO-012127_UKRAINE,1,200013410,SP-CFTO-012127,UKRAINE
233,UOM,200013410_SP-CFTO-012127_UKRAINE,1,200013410,SP-CFTO-012127,UKRAINE
239,MICRO,200013410_SP-CFTO-012127_UKRAINE,2,200013410,SP-CFTO-012127,UKRAINE

In [49]:
[(i.split('_RUN')[0]) if  '_RUN' in i else (i.split('_SETUP')[0]) if '_SETUP' in i else i for i in qc_tt['TestType']]

['AS',
 'AS',
 'AS',
 'DES',
 'DS',
 'DS',
 'DSA',
 'DSB',
 'LOD',
 'RS',
 'RSL2',
 'RSL2',
 'RSL2']

In [47]:
for i in qc_tt['TestType']:
    if '_RUN' in i:
        print(i.split('_RUN')[0])
    elif '_SETUP' in i:
        print(i.split('_SETUP')[0])
    else:
        print(i)

AS
AS
AS
DES
DS
DS
DSA
DSB
LOD
RS
RSL2
RSL2
RSL2

In [34]:
qc_tt = pd.merge(qc_tt,df,left_on=['TestType','Spec','mkt'],right_on=['Tests','l_product','market'],how='inner')
qc_tt = qc_tt[['Tests','Id','Copy_Testing_Flag','market','ttid']]
qc_tt

  Tests    Id Copy_Testing_Flag   market  ttid
0    AS  1964                 1  UKRAINE   747
1   DES  1964                 3  UKRAINE   727
2   DSA  1964                 1  UKRAINE   730
3   DSB  1964                 1  UKRAINE   731
4   LOD  1964                 1  UKRAINE   735
5    RS  1964                 2  UKRAINE   736

In [35]:
temp = pd.read_excel('testtype.xlsx',sheet_name='Sheet2')
temp

   Parent_TT     TestType
0       RSL2     RSL2_RUN
1       RSL2   RSL2_SETUP
2        AS        AS_RUN
3        AS      AS_SETUP
4         DS       DS_RUN
5         DS     DS_SETUP
6        DSB       DS_RUN
7        DSB     DS_SETUP
8        DSA       DS_RUN
9        DSA     DS_SETUP
10       RS        RS_RUN
11        RS     RS_SETUP
12       RS1       RS_RUN
13       RS1     RS_SETUP
14   UOD_TPW  UOD_TPW_RUN
15   UOD_TPW  UOD_TPW_RUN
16       UOD      UOD_RUN
17       UOD    UOD_SETUP

In [22]:
pd.merge(qc_tt,temp,left_on='Tests',right_on='Parent_TT',how='left')

,Id,Desc,ttid,TestType_x,Spec,mkt,Tests,MaterialNumber,Copy_Testing_Flag,product_code,l_product,market,Parent_TT,TestType_y
0,1964,Omeprazole Capsul...,747,AS,SP-CFTO-012127,UKRAINE,AS,200013410_SP-CFTO-012127_UKRAINE,1,200013410,SP-CFTO-012127,UKRAINE,NaN,NaN
1,1964,Omeprazole Capsul...,727,DES,SP-CFTO-012127,UKRAINE,DES,200013410_SP-CFTO-012127_UKRAINE,3,200013410,SP-CFTO-012127,UKRAINE,NaN,NaN
2,1964,Omeprazole Capsul...,730,DSA,SP-CFTO-012127,UKRAINE,DSA,200013410_SP-CFTO-012127_UKRAINE,1,200013410,SP-CFTO-012127,UKRAINE,DSA,DS_SETUP
3,1964,Omeprazole Capsul...,730,DSA,SP-CFTO-012127,UKRAINE,DSA,200013410_SP-CFTO-012127_UKRAINE,1,200013410,SP-CFTO-012127,UKRAINE,DSA,DS_RUN
4,1964,Omeprazole Capsul...,730,DSA,SP-CFTO-012127,UKRAINE,DSA,200013410_SP-CFTO-012127_UKRAINE,1,200013410,SP-CFTO-012127,UKRAINE,DSA,DS_SETUP
5,1964,Omeprazole Capsul...,731,DSB,SP-CFTO-012127,UKRAINE,DSB,200013410_SP-CFTO-012127_UKRAINE,1,200013410,SP-CFTO-012127,UKRAINE,DSB,DS_RUN
6,1964,Omeprazole Capsul...,735,LOD,SP-CFTO-012127,UKRAINE,LOD,200013410_SP-CFTO-012127_UKRAINE,1,200013410,SP-CFTO-012127,UKRAINE,NaN,NaN
7,1964,Omeprazole Capsul...,736,RS,SP-CFTO-012127,UKRAINE,RS,200013410_SP-CFTO-012127_UKRAINE,2,200013410,SP-CFTO-012127,UKRAINE,RS,RS_SETUP

   Parent_TT     TestType
0       RSL2     RSL2_RUN
1       RSL2   RSL2_SETUP
2        AS        AS_RUN
3        AS      AS_SETUP
4         DS       DS_RUN
5         DS     DS_SETUP
6        DSB       DS_RUN
7        DSA     DS_SETUP
8        DSA       DS_RUN
9        DSA     DS_SETUP
10       RS        RS_RUN
11        RS     RS_SETUP
12       RS1       RS_RUN
13       RS1     RS_SETUP
14   UOD_TPW  UOD_TPW_RUN
15   UOD_TPW  UOD_TPW_RUN
16       UOD      UOD_RUN
17       UOD    UOD_SETUP

In [13]:
pd.merge(qc_tt,temp,on='TestType',how='left')

,Id,Desc,ttid,TestType,Spec,mkt,Parent_TT
0,1964,Omeprazole Capsul...,747,AS,SP-CFTO-012127,UKRAINE,NaN
1,1964,Omeprazole Capsul...,746,AS_RUN,SP-CFTO-012127,UKRAINE,AS
2,1964,Omeprazole Capsul...,750,AS_SETUP,SP-CFTO-012127,UKRAINE,AS
3,1964,Omeprazole Capsul...,727,DES,SP-CFTO-012127,UKRAINE,NaN
4,1964,Omeprazole Capsul...,729,DS_RUN,SP-CFTO-012127,UKRAINE,DS
5,1964,Omeprazole Capsul...,729,DS_RUN,SP-CFTO-012127,UKRAINE,DSB
6,1964,Omeprazole Capsul...,729,DS_RUN,SP-CFTO-012127,UKRAINE,DSA
7,1964,Omeprazole Capsul...,749,DS_SETUP,SP-CFTO-012127,UKRAINE,DS
8,1964,Omeprazole Capsul...,749,DS_SETUP,SP-CFTO-012127,UKRAINE,DSA
9,1964,Omeprazole Capsul...,749,DS_SETUP,SP-CFTO-012127,UKRAINE,DSA
10,1964,Omeprazole Capsul...,730,DSA,SP-CFTO-012127,UKRAINE,NaN
11,1964,Omeprazole Capsul...,731,DSB,SP-CFTO-012127,UKRAINE,NaN
12,1964,Omeprazole Capsul...,735,LOD,SP-CFTO-012127,UKRAINE,NaN
13,1964,Omeprazole Capsul...,736,RS,SP-CFTO-012127,UKRAINE,NaN
14,1964,Omeprazole Capsul...,740,RSL2,SP-CFTO-012127,UKRAINE,NaN
15,1964,Omeprazole Capsul...,755,RSL2_RUN,SP-CFTO-012127,UKRAINE,RSL2
16,1964,Omeprazole Capsul...,754,RSL2_SETUP,SP-CFTO-012127,UKRAINE,RSL2

In [98]:
output_path = 'C:/Users/skesh/Desktop/DRL/Task_Interface_Files/Copy_Testing_Flagging.xlsx'

In [99]:
df[['Tests', 'l_product','MaterialNumber', 'Copy_Testing_Flag', 'product_code','market']].to_excel(output_path,index=False)

In [15]:
create = [{'name': 'A Srinivasa Reddy _000093490', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'A Anil Babu _00052264', 'availability': [0, 0, 0, 8, 0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8]}, {'name': 'A Rajitha_26594', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Amol Shivaji Kashid_00061475', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Ajay Kumar Dhawale _00035984', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Akula Mounika_00039165', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Abhiraje Sampatrao Desai_00061629', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}]

In [17]:
for i in create:
    print(i['name'].split('_')[1].lstrip('0'))

93490
52264
26594
61475
35984
39165
61629

In [2]:
update = [{'name': 'Gaurav Namdev Patil\xa0\xa0\xa0\xa0_00072759', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Praveen Kokkula_00028001', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Satyaki Satapathy_00073834', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Kavya Vangara_00058379', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Pushpalatha Vajrapu_00060664', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Kota Niharika_00032628', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Katta Rajasri _00052790', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Naresh Babu Gope _00031356', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Bhavani Chikkala_00056775', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Bhuvaneswari Thatiparthi_00065221', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Kranthi Kumar Bollimuntha _00012463', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Konda Geetha Saradhi _00028964', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Shivangi Khare_00072927', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Rashmita Reddy Malkayyagari_00063693', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Siva Dumpa_00071335', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Swapna Duvvuru_00030019', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Lakshmi Narasa Reddy Jilumudi_00072758', 'availability': [0, 0, 8, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Piraji Nagnath Shivashete_00068620', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Srihari Akaram _00020733', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Sunita Vitthalrao Panwal_00061474', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Sai Kumar Padardhi_00072765', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Maheswari Chengamani Devi Mami_00022245', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Mohammad Akram_00052109', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Tara Prasad Mishra _00019362', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Jagan Mohan Sahu_00072556', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Podila Rajesh_00074209', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8]}, {'name': 'Srimadhava Rao Yerra _00013770', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Chandra Mohan Raavi_00065332', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'G Divya Sri _00032148', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Kadhuluri Meena _00054702', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'M Gangadhar Reddy _00031760', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Naveen Reddy Kethireddy _00035001', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0, 0, 0]}, {'name': 'Satish Chowtipalli _00016778', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0, 0, 0, 0]}, {'name': 'Rahul Nagnath Mungde_00073513', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Maheswarapu Venkata Brahmachar_00035724', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Milind Ramesh Jagtap _00008287', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Venkata Reddy Evuri _00043112', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'V Sharavana Shree _00048090', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Govardhan Reddy Aerrabelly _00042860', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Jaya Bharathi Lakkireddy_00066010', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Naresh Banka_00073977', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Sainath Maroti Devgare_00075286', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0, 0, 0]}, {'name': 'Pampatwar Digambar Harishchand_00038937', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Bhamini P Kshirsagar _00043191', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Sai Chand Uddagiri_00072459', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'M Veerabhadra Rao _00039005', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Sreenu Babu Geddadi_00072883', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Suguna Gorla_00070872', 'availability': [0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Vaka Bhadra Reddy _00036531', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Ashok Kumar M Parit _00009694', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Sathyanarayana Gangyada_00057913', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Chippada Sailaja_00044356', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Rambabu Buddala_00071317', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Suhas Gorakshanath Pujari _00040432', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0, 0, 0]}, {'name': 'Anusha Bongu_00058213', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Ramesh Valluri_00040441', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0, 0, 0]}, {'name': 'Suresh Pinjala _00027744', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Anuja Perumalla_00060661', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Rajesh Nelluri_00045542', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Pitla Narsimlu _00048050', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 0, 0, 8, 0, 0, 0]}, {'name': 'Sattaiah G_00072718', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Jahirabbas Shaikh_00052263', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Mohan Chinthalwar_00073682', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'M Madhavi_00046883', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Vikash Kumar _00045849', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Anil Kumar Kurra_00061979', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Riya Biswas_00060667', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Sowjanya Tanuboddi _00014864', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Venkata Rao Gothula_00072557', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Anuradha Gangireddy _00052259', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Nikhitha Pendkar_00058411', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Purshottam Arun Jadhav_00072413', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Venkanna Gali _00051710', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Tippatri Harikesh_00043859', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'N Raju_00026875', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Manikandan K R_00072070', 'availability': [0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Mangesh Sunil Dalvi_00075287', 'availability': [0, 0, 0, 0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'N Venkata Ramana Vasarla _00043248', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'RamSubhani Kante_00072686', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0]}, {'name': 'Deore Vishveshwar Ananda _00039109', 'availability': [0, 0, 0, 0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Santhi Penta_00022876', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Konagalla Hemalata Sree Annapu_00032650', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Nikhath Jabeen_00032122', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Siva Navya Peddisetti_00071316', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Subash Chandra Mohanty _00032266', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0, 0, 0]}, {'name': 'E Thirumalai Rajan _00008985', 'availability': [0, 0, 0, 0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'M Veerendra Kumar _00010200', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Naga Tanuja Uma Maheswari Appa_00065208', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Amarendar Ganji_00062285', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Pradeep Gaur_00040451', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Ram Rajendra Potabattula _00017104', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Khairnar Bhushan Kashinath _00051962', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Lakshmi Kavya Kolukuluri_00060734', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Anil Kumar Ravula_00056558', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Naveen Reddy Renabothu_00066009', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Hari Babu Konka _00020309', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Appa Rao Rayapalli _00035517', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Gudivada Ravi Kumar _00050955', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Peesa Gowthami_00048054', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Ramprasad Elluri _00021398', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Tulasee Chaitanya Gade _00047971', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Venkatesh Talabathula_00071336', 'availability': [0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Damodar Kakarla_00072963', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Gowrivaraprasad M_00043113', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Kapil Vishwanath Siddheshvare_00066224', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'P Gokul_00050972', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Dinesh Chennamaneni _00020303', 'availability': [0, 0, 0, 0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Roja Paladugula_00064856', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Sunitha Janga_00072228', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Gumparthy Amala_00052524', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Madhukrishna Kasturi_00056065', 'availability': [0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Mohd Musheeruddin_00034988', 'availability': [8, 0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0]}, {'name': 'Surendra Reddy Gudivendi_00056302', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Parameshwari Thonda_00058410', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Mani Deepika Tatina_00065417', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Satyavathi Komala _00051606', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Thakur Vijay Singh _00035859', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Ramakrishnarao CH _00052454', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Jadhav Meninath Dhondiba _00052982', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Ashish Machindra Mali_00073073', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Satish Narayan Yewale _00040434', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0, 0, 0]}, {'name': 'Awan Kumar Goutam _00047212', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Swatantra Kumar Tripathi _00043263', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Godishala Swesika _00052393', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Bhavani Puppala_00058412', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Rahul Dhudku Nerkar_00071659', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Ravindra Kumar Thakur_00072926', 'availability': [0, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Sivakumar _00066222', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Kadari Bhavani_00030361', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Lakshmi Bhargavi Valluri_00065129', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Uday Kiran Mitta_00071941', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Kamalakannan H_00066223', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Swapna Kumari Arikapudi _00019852', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Thoparam Omprakash_00036066', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Prashant P Warle_00058325', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Koti Reddy K _00014931', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Jaysing Ramchandra Banne_00055890', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Ravi Aidala_00071319', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Sachin Mohan Patil _00011015', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0, 0, 0]}, {'name': 'M Siva Sankara Rao _00052160', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Uday Kumar R B_00062286', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Geetha Sravya Valluri_00072798', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Prabhakar Sahebrao Chavan_00074151', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Jaganath _00035721', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Ramesh Bode_00042589', 'availability': [8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Manipal Reddy Kanala_00065333', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Radhika C S_00022875', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Soujanya Mekala_00057910', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Annapoorna Kundarapu_00032640', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Govardhan Reddy B _00047591', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Ratna Deepika Chitturi_00066070', 'availability': [0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Shilpi Verma _00021647', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Sammaiah Gariganti _00046038', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Koppineedi Ramya_00052159', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Nagendra K_00066069', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Mohd Sameer Khan _00047825', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Rana Prathap Pothana_00065840', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Remya James_00063688', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Raju Muthyampeta_00041438', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Venkatesh Sopala_00073501', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Meena Chowdary Channupatti _00045850', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Narendra Reddy Ambati_00072411', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Patil Bhushan Santosh _00029456', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'M Kameswara Rao _00009398', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0, 0, 0]}, {'name': 'V Sudha Naga Lakshmi Kavuri_00061870', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Rajendra M Patil _00012626', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Anusha Kota_00049638', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Krinusha Bandi_00061628', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Sunil Kumar Dandu_00072760', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Linga Rao Yendluri _00035085', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Laxman Changdev Sawant_00072171', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Mahesh Chennareddy_00047297', 'availability': [0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Jakkula Praveen Kumar _00027023', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Shravani Kadaram_00056777', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Thatikonda Sushma_00030360', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 0, 0, 0, 0, 0, 0]}, {'name': 'Dileep Kumar Chourasia_00072684', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Sudhanvacharyulu M _00016824', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0, 0, 0]}, {'name': 'Hiranmayi Nutulapati_00036419', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Jeeut Prasad _00018188', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Shaik Moula Ali _00043171', 'availability': [0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Niranjan Kumar Reddy Koppala_00073123', 'availability': [0, 0, 0, 0, 0, 8, 0, 0, 8, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0]}, {'name': 'Rama Lakshmi Karri _00047263', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'M Krishna Veni _00044246', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'P Gundu Reddy _00032008', 'availability': [0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Swapna Poreddy_00058509', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Bhaskar Dhadipineni _00040552', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Mohanlal Dalapati_00047441', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0]}, {'name': 'Satheesh Vattikuti_00048084', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Sudheer Kumar Reddy M _00041682', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Narasimha Murthy Rasabattula _00013791', 'availability': [0, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Y Vijayabhaskar_00047303', 'availability': [0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}, {'name': 'Anand Kumar S_00057907', 'availability': [0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0]}, {'name': 'Muhammad Afzal Muhammad Mujeeb_00074144', 'availability': [8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 8, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0]}]

In [3]:
len(update)

193

In [4]:
len(create)

7