In [ ]:
Lists
Dictionaries
Tuples
Functions
Class

#### Lists

In [1]:
l1 = []

In [2]:
type(l1)

list

In [3]:
l1 = ['Sreemanto','Jay',139,15.1]

In [4]:
#add a new element in the list
l1.append('Tejas')

In [5]:
l1

['Sreemanto', 'Jay', 139, 15.1, 'Tejas']

In [6]:
#append - appends one element at a time
l1.extend([100,200])

In [7]:
l1

['Sreemanto', 'Jay', 139, 15.1, 'Tejas', 100, 200]

In [8]:
l1.append(100,200)

TypeError: append() takes exactly one argument (2 given)

In [ ]:
l1

In [9]:
l1[0]

'Sreemanto'

In [10]:
l1[1]

'Jay'

In [11]:
l1[-1]

200

In [12]:
l2 = [123,39,45]

In [13]:
l2.sort()

In [14]:
l2

[39, 45, 123]

In [15]:
l2.reverse()

In [16]:
l2

[123, 45, 39]

In [17]:
l3 = ['Tejas','Sree','Yash']

In [18]:
l3.sort()

In [19]:
l3

['Sree', 'Tejas', 'Yash']

In [20]:
l4 = [[121,'Sree',5.5],[122,'Jay',3.1],[123,'Tarun',2.1]]

In [22]:
l4[1]

[122, 'Jay', 3.1]

In [23]:
l4[1][2]

3.1

In [27]:
names = []

for i in l4:
    print(i[1])
    names.append(i[1])

Sree
Jay
Tarun

In [28]:
names

['Sree', 'Jay', 'Tarun']

In [29]:
l4.pop(0)

[121, 'Sree', 5.5]

In [30]:
l4

[[122, 'Jay', 3.1], [123, 'Tarun', 2.1]]

In [31]:
a = l4.pop(1)

In [32]:
a

[123, 'Tarun', 2.1]

In [33]:
a.remove('Tarun')

In [34]:
a

[123, 2.1]

#### List Comprehensions

In [37]:
squares = []
for i in range(10):
    squares.append(i*i)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
sq = [i*i for i in range(10)]

In [39]:
sq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [40]:
bank_statements = [100,-1000,500,-5000,300]

In [41]:
credits = [i for i in bank_statements if i > 0]
credits

[100, 500, 300]

In [42]:
debits = [i for i in bank_statements if i < 0]
debits

[-1000, -5000]

#### Tuples

In [43]:
t1 = ('name',12,5.1)

In [44]:
type(t1)

tuple

In [45]:
t1[0]

'name'

#### Dictionaries

In [46]:
# key value pair
# similar to how we see objects in a json file
car = {"Brand" : 'Hyundai',
       "Model" : 'I20',
       "Year" : 2015}

In [47]:
type(car)

dict

In [48]:
car.keys()

dict_keys(['Brand', 'Model', 'Year'])

In [49]:
car.values()

dict_values(['Hyundai', 'I20', 2015])

In [50]:
car.items() #fethes key and value pairs in a tuple format

dict_items([('Brand', 'Hyundai'), ('Model', 'I20'), ('Year', 2015)])

In [51]:
#How do you acces an element in a doctionary
car['Model']

'I20'

In [52]:
#adding a new pair
car['Mileage'] = '13Kmpl'

In [53]:
car

{'Brand': 'Hyundai', 'Model': 'I20', 'Year': 2015, 'Mileage': '13Kmpl'}

In [54]:
len(car)

4

In [59]:
Emp = {
    'ids' : [121,122,123],
    'names' : ['Sree','Tejas','Jay'],
    'WorkEx' : [1.5,3.2,3.3]
}

In [60]:
for i in Emp.keys():
    print(i)

ids
names
WorkEx

In [61]:
for i in Emp:
    print(i)

ids
names
WorkEx

In [62]:
for i in Emp:
    print(i,'---->',Emp[i])

ids ----> [121, 122, 123]
names ----> ['Sree', 'Tejas', 'Jay']
WorkEx ----> [1.5, 3.2, 3.3]

In [65]:
#add all the salaries
Emp = {
        '121' : {
                    'name' : 'Sree',
                    'WorkEx' : 4.9,
                    'Position' : 'AM',
                    'Salary' : 700000
                },
    
        '122' : {
                    'name' : 'Kunal',
                    'WorkEx' : 3.9,
                    'Position' : 'SM',
                    'Salary' : 900000
                },

        '123' : {
                'name' : 'Rohan',
                'WorkEx' : 1.5,
                'Position' : 'Con',
                'Salary' : 400000
                }
}

In [72]:
sal = 0
for i in Emp:
    print(Emp[i]['Salary'])
    sal = Emp[i]['Salary'] + sal

700000
900000
400000

In [77]:
sal = "2000"
int("2000")

2000

In [79]:
Emp = {
    '121' : {
        'name' : 'Sree',
        'WorkEx' : 4.9,
        'Position' : 'AM',
        'Salary' : '7lpa'},
    
        '122' : {
        'name' : 'Kunal',
        'WorkEx' : 3.9,
        'Position' : 'SM',
        'Salary' : '9lpa'},

        '123' : {
        'name' : 'Rohan',
        'WorkEx' : 1.5,
        'Position' : 'Con',
        'Salary' : '18lpa'}
}

In [84]:
total_salary = 0

for i in Emp:
    print(Emp[i]['Salary'])
    #print(Emp[i]['Salary'][0])    # fetch the first index value
    #print(int(Emp[i]['Salary'][0])) # convert this from string to integer
    total_salary = int(Emp[i]['Salary'][0]) + total_salary

7lpa
9lpa
8lpa

In [83]:
total_salary

24

#### Functions

In [85]:
def simple():
    print('Enterd the function')
    print('Simple function')
    
print('Not a part of the function')

Not a part of the function

In [86]:
simple()

Enterd the function
Simple function

In [87]:
#function with a parameter
def plus_ten(a):
    print('Value',a+10)

In [89]:
plus_ten(90)

Value 100

In [99]:
#function with a parameter and returning a value
def plus_ten(a):
    
    print('Value ',a)    
    return a+10

In [100]:
plus_ten(25)

Value  25

35

In [101]:
val = plus_ten(25)
val

Value  25

35

In [102]:
def minus_ten(a):
    print('Value ',a-10)

In [103]:
minus_ten(225)

Value  215

In [104]:
val = minus_ten(225)

Value  215

In [107]:
print(val)

None

In [139]:
#Nested functions
def wage(w_hour):
    print('Entered the wage function')
    return w_hour*25

def with_bouns(w):
    print('Entered the bonus function')
    return wage(w)+50

In [140]:
wage(8)

Entered the wage function

200

In [141]:
with_bouns(8)

Entered the bonus function
Entered the wage function

250

In [ ]:
Write a function to check if two lists have equal length, 
If yes return the length or else print they are not equal

In [132]:
a = [12,35,56]
b = [90,10,45]

In [133]:
def check_length(a,b):
    
    if len(a)==len(b):
        length = len(a)
    else:
        length = "They do not have equal length"
    
    return length

In [134]:
check_length(a,b)

3

In [142]:
my_list = [1,2,3,4,5]

In [143]:
type(my_list)

list

In [ ]:
my_list.

In [145]:
class SampleClass:  
    pass

In [146]:
s1 = SampleClass()

In [147]:
type(s1)

__main__.SampleClass

In [156]:
class MobilePhone():
    
    def __init__(self,Price,Model): #acts as constructor
                                    #constructor is something which activates an object
        self.m = Model
        self.p = Price

In [157]:
m1 = MobilePhone()

TypeError: __init__() missing 2 required positional arguments: 'Price' and 'Model'

In [158]:
m1 = MobilePhone(10000,'MI 9')

In [159]:
m1.m

'MI 9'

In [160]:
m1.p

10000

In [161]:
m2 = MobilePhone(60000,'Samsung S 10')

In [180]:
#objects = instances
#variable = attribute
#function = method

class Bank:
    
    #class atrubute/object attribute
    Bank_name = 'SBI' # class attribute
    
    def __init__(self,branch,employees):
        
        self.branch = branch
        self.employees = employees
        
    def acc_opening(self):        
        print("Bank has digitalized account opening process")

In [181]:
b1 = Bank('Andheri',10)
b2 = Bank('Thane',12)

In [182]:
b1.acc_opening()

Bank has digitalized account opening process

In [167]:
b1.employees

10

In [169]:
b2.Bank_name

'SBI'

In [187]:
#accessing a value from __init__ --> use self
class Bank:
    
    Bank_name = 'SBI' # class attribute
    
    def __init__(self,branch,employees,acc):
        
        self.branch = branch
        self.employees = employees
        self.accounts = acc
        
    def acc_opening(self):        
        print("Bank has digitalized account opening process and opened {} accounts".format(self.accounts))

In [188]:
b3 = Bank('Dadar',20,1200)

In [189]:
print(b3.accounts)
b3.acc_opening()

1200
Bank has digitalized account opening process and opened 1200 accounts

In [190]:
b3.employees

20

In [193]:
#passing a value in a method from outside --> no need to use self
class Bank:
    
    Bank_name = 'SBI' # class attribute
    
    def __init__(self,branch,employees):
        
        self.branch = branch
        self.employees = employees
        
    def acc_opening(self,accounts):        
        print("Bank has digitalized account opening process and opened {} accounts".format(accounts))

In [194]:
b5 = Bank('Churchgate',25)

In [196]:
b5.acc_opening(200)

Bank has digitalized account opening process and opened 200 accounts

In [198]:
class circle:
    
    pi = 3.14
    
    def __init__(self,radius=1):
        self.radius = radius
        
    def perimeter(self):
        print('Circumference of the Circle is :  ',2*self.pi*self.radius)

In [199]:
c1 = circle()
c1.perimeter()

Circumference of the Circle is :   6.28

In [200]:
c2 = circle(10)
c2.perimeter()

Circumference of the Circle is :   62.800000000000004

In [202]:
64**0.5

8.0

Write a program which has a class 'Calculate' and it does two mathematical operations

Calculates the distance between two input data points (x1,y1) and (x2,y2)

Calculates slope between two input data points (x1,y1) and (x2,y2)

In [204]:
x1y1 = (3,4)

In [205]:
x,y = x1y1

In [207]:
y

4

In [ ]:
x1 = x1y1[0]

In [ ]:
y1 = x1y1[1]

In [ ]:
y1

In [208]:
class calculate():
    
    def __init__(self,x1y1,x2y2):
        self.x1y1 = x1y1 # ---- (-1,12)
        self.x2y2 = x2y2 # ----- (22,10)
        
    def calc_distanc(self):
        x1,y1 = self.x1y1
        x2,y2 = self.x2y2
        
        return ((y2-y1)**2 + (x2-x1)**2)**0.5

    def calc_slope(self):
        x1,y1 = self.x1y1
        x2,y2 = self.x2y2
        
        return (y2-y1)/(x2-x1)

In [209]:
x1y1 = (-1,12)
x2y2 = (22,10)

obj1 = calculate(x1y1,x2y2)

In [210]:
obj1.calc_distanc()

23.08679276123039

In [211]:
obj1.calc_slope()

-0.08695652173913043

In [212]:
import numpy as np
import pandas as pd

In [218]:
df = pd.read_csv(R"C:/Users/skesh/Desktop/Data/Earthquakes.csv")
df

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,ML,...,18.0,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,ML,...,18.0,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,MWW,...,NaN,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,MWW,...,NaN,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,MB,...,428.0,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed

In [220]:
df = pd.read_excel(r"C:/Users/skesh/Desktop/sample_file.xlsx",sheet_name="Detail_Sheet_F005")
df

,User Name,First Name,Last Name,User Lock Status,F-60,MMPV,MMRV,OB52,ACACACT,FBV0,F-02,F-04,F-07,FB01,FB08,FB10,FB50,FBR2
0,MANJULAREDDY,Manjula,Neeloor Laxmana Reddy,0,NaN,NaN,NaN,8,NaN,1,NaN,NaN,NaN,4,NaN,1.0,2.0,NaN
1,MCHOKSI,Munish,Choksi,0,1.0,NaN,NaN,1,NaN,1,1.0,NaN,1.0,1,NaN,NaN,NaN,NaN
2,RUREN,Ren,Ruoxin,0,6.0,6.0,9.0,2,1.0,2,2.0,2.0,1.0,5,1.0,1.0,3.0,1.0
3,YOSUKE.SAITO,Saito,yosuke,0,NaN,NaN,NaN,1,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,1.0