# 1st Session

In [1]:
a = 2

In [2]:
type(a)

int

In [3]:
b = 4.5

In [4]:
type(b)

float

In [5]:
a = 'abc'

In [6]:
type(a)

str

#### Stings

In [7]:
a = "Today is our first class"
a

'Today is our first class'

In [10]:
str1 = "A B"
print(a)
str1

Today is our first class

'A B'

In [11]:
len(str1)

3

In [17]:
a[5]

' '

In [18]:
c = "Python Class"


c

'Python Class'

#### Slicing a string

In [19]:
c[0]

'P'

In [20]:
c[1]

'y'

In [21]:
c[2]

't'

In [22]:
c[-1]

's'

In [33]:
c = 'Python Class'

print(c[0:5])

c[0:3]

Pytho

'Pyt'

In [24]:
c[0:5]

'Pytho'

In [25]:
c[:5]

'Pytho'

In [26]:
c[5:12]

'n Class'

In [27]:
c[5:]

'n Class'

In [28]:
c

'Python Class'

In [29]:
c[0:-1]

'Python Clas'

In [38]:
a = 'Today is our first class'

In [ ]:
a.

In [36]:
a.split(" ")

['Today', 'is', 'our', 'first', 'class']

In [37]:
a.split("i")

['Today ', 's our f', 'rst class']

In [39]:
#shortcut for counting no.of words in a sentence

str2 = "Today is saturday"

len(str2.split(" "))

3

In [41]:
a.isprintable?

In [48]:
x1 = "Mumbai"
x2 = " Mumbai"
x3 = "Mumbai "

In [50]:
print(x1,len(x1))
print(x2,len(x2))
print(x3,len(x3))

Mumbai 6
 Mumbai 7
Mumbai  7

In [55]:
a.strip?

In [51]:
x2.strip(" ")

'Mumbai'

In [52]:
x2 = x2.strip(" ")

In [53]:
x3 = x3.strip(" ")

In [54]:
print(x1)
print(x2)
print(x3)

Mumbai
Mumbai
Mumbai

#### IF and ELSE

In [65]:
# if you more than 1000. Spend.
# if you have less than 1000. Dont spend

amount = 1500
amount_flag = 0

if amount < 1000: 
    amount_flag = 1
    print("Balance is less than 1000")
    print("Dont spend")
else:
    print("Balance greater than 1000")
    print("Spend wisely")   
    
amount_flag

Balance greater than 1000
Spend wisely

0

In [59]:
# if you more than 1000. Spend.
# if you have less th)an 1000. Dont spend

amount = 1500

if amount < 1000:    
    print("Balance is less than 1000")
    print("Dont spend")

#### Nested IF ELSE

In [66]:
amount = 1700

if amount < 1000:
    print("Balance is less than 1000")
    print("Dont spend")
else:
    if amount > 1500:
        print("Enough balance to go for shopping")
    else:
        print("Balance greater than 1000")
        print("Spend wisely")

Enough balance to go for shopping

In [67]:
shift_code = "D"

if shift_code == "A":
    print("Start at 9 AM")

elif shift_code == "B":  
    print("Start at 1 PM")

else:
    print("Start at 6 PM")

Start at 6 PM

## for loop

In [68]:
a = range(-5,5)

In [69]:
a

range(-5, 5)

In [70]:
a[0]

-5

In [71]:
a[1]

-4

In [72]:
a[9]

4

In [ ]:
for jill in range(15):
    print(jill+10)

In [82]:
a1 = [" mum","hyd","kol ","ech ","del "]

In [87]:
len(a1)

5

In [85]:
for i  in range(len(a1)):
    print("City --> ",a1[i])

City -->   mum
City -->  hyd
City -->  kol
City -->  ech
City -->  del

In [86]:
for city in a1:
    print("City --> ",city)

City -->   mum
City -->  hyd
City -->  kol
City -->  ech
City -->  del

In [88]:
for city in a1:
    print("Raw element",city)
    print("Processed element",city.strip(" "))
    
    print("------------------------------")

Raw element  mum
Processed element mum
------------------------------
Raw element hyd
Processed element hyd
------------------------------
Raw element kol
Processed element kol
------------------------------
Raw element ech
Processed element ech
------------------------------
Raw element del
Processed element del
------------------------------

In [98]:
#Checking if Word has a space

str1 = "West Bengal"

for i in str1:
    
    print("Value of i : ",i)
    if i==" ":
        print("Location has a space")

Value of i :  W
Value of i :  e
Value of i :  s
Value of i :  t
Value of i :
Location has a space
Value of i :  B
Value of i :  e
Value of i :  n
Value of i :  g
Value of i :  a
Value of i :  l

In [96]:
#Checking if Word has a space
str1 = "West Bengal"
for i in str1:
    
    print("Value of i : ",i)
    if i==" ":
        print("Location has a space")
        break

Value of i :  W
Value of i :  e
Value of i :  s
Value of i :  t
Value of i :
Location has a space

In [104]:
#Checking if Word has a space
str1 = ["West Bengal","Gujrat","Madhya Pradesh"]

#iterating through locations
for location in str1:
    print(location)

    #Iterating through the string location
    for i in location:

        print("Value of i : ",i)
        if i==" ":
            print("Location has a space")
            break

West Bengal
Value of i :  W
Value of i :  e
Value of i :  s
Value of i :  t
Value of i :
Location has a space
Gujrat
Value of i :  G
Value of i :  u
Value of i :  j
Value of i :  r
Value of i :  a
Value of i :  t
Madhya Pradesh
Value of i :  M
Value of i :  a
Value of i :  d
Value of i :  h
Value of i :  y
Value of i :  a
Value of i :
Location has a space

In [111]:
#Checking if Word has a space
str1 = ["West Bengal","Gujrat","Madhya Pradesh"]

#iterating through locations
for location in str1:
    print(location)

    #Iterating through the string location
    for i in location:
        if i==" ":
            print("Location has a space")
            break
    print("End of the check")
    print("------------------")

West Bengal
Location has a space
End of the check
------------------
Gujrat
End of the check
------------------
Madhya Pradesh
Location has a space
End of the check
------------------

In [112]:
# Check if there are vowels present in the given string
str1 = "Imarticus"
for letter in str1:
    
     if letter in "AIEOUaieou":
    
        print("Vowel is present")

Vowel is present
Vowel is present
Vowel is present
Vowel is present

#### LISTS

In [126]:
t1 = ("Sree",123,45.5)

In [127]:
type(t1)

tuple

In [113]:
l1 = ["Sree",123,45.5]

In [114]:
l1[0]

'Sree'

In [115]:
l1[-1]

45.5

In [116]:
# it only updates one element at a time
l1.append("Data Scientist")

In [117]:
l1

['Sree', 123, 45.5, 'Data Scientist']

In [119]:
l2 = ['Sree', "Java Developer", 'Data Scientist']

In [120]:
l2.sort()

In [121]:
l2

['Data Scientist', 'Java Developer', 'Sree']

In [122]:
l2.insert?

In [123]:
l2.insert(0,"DS")

In [124]:
l2

['DS', 'Data Scientist', 'Java Developer', 'Sree']

In [125]:
l2.insert(2,"DE")
l2

['DS', 'Data Scientist', 'DE', 'Java Developer', 'Sree']

In [130]:
l2.extend([1,2])

In [131]:
l2

['DS', 'Data Scientist', 'DE', 'Java Developer', 'Sree', 1, 2]